@import "../../../../assets/styles/variables.scss";

.footer {
  height: 10%;
  width: 100%;

  padding: 10px;

  box-sizing: border-box;

  display: flex;

  justify-content: center;
  align-items: center;

  border: 2px solid $yellow;

  &__text {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
