/* You can add global styles to this file, and also import other st#f2f2f2yle files */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400..900&display=swap");

@import "./assets/styles/normalize.css";
@import "./assets/styles/variables.scss";
@import "./assets/styles/ui.scss";
@import "./assets/styles/page.scss";
@import "./assets/styles/id-item.scss";

* {
  font-family: "Kanit", sans-serif;
}

body {
  background-color: $background;
  color: $primary;
  overflow-x: hidden;
}
