.button {
  width: 110px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 21px;
  letter-spacing: 2px;

  background-color: transparent;

  border: 2px solid $blue;

  color: $primary;

  transition: all 0.2s ease;

  &:hover {
    background-color: $blue;
  }

  &:active {
    border: 2px solid $green;
    background-color: $green;
  }
}
